################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Big-Api/.vs
/Big-Api/Big-Api/.vs
/Big-Api/Big-Api/bin
/Big-Api/Big-Api/obj
